In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read data from file

In [3]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

---
# Try to undersstand what the data looks like? What are types of the features? Are there any missing values? Do I need to eliminate some features?  
---

In [4]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

---
---

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
df["hours-per-week"].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

---
# How many of each race are represented in this dataset?
---

In [6]:
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [9]:
len(df["race"].unique())

5

---
# What is the average age of men/women?
---

In [10]:
df.groupby("sex")["age"].mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

---
# What is the percentage of people who have a Bachelor's degree?
---

In [11]:
len(df["education"])

32561

In [15]:
len(df[df["education"] == "Bachelors"])

5355

In [20]:
percent_of_bachelor = (len(df[df["education"] == "Bachelors"]) / len(df["education"]))*100
percent_of_bachelor

16.44605509658794

---
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
---

In [21]:
len(df["education"])

32561

In [37]:
len(df[(df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate") & (df["salary"] == ">50K")])

7384

In [39]:
b_m_d_percent = (len(df[(df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate") & (df["salary"] == ">50K")]) / len(df["education"]))*100
b_m_d_percent

22.677436196677007

---
# What percentage of people without advanced education make more than 50K?
---

In [47]:
len(df["education"])

32561

In [46]:
len(df[~((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")) & (df["salary"] == ">50K")])

4355

In [48]:
w_edu_percent = (len(df[~((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")) & (df["salary"] == ">50K")]) / len(df["education"]))*100
w_edu_percent

13.374896348392248

---
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
---

 ---
 # What country has the highest percentage of people that earn >50K?
 ---

---
# Identify the most popular occupation for those who earn >50K in India.
---

----
---

* homework :
    1. If the age raises, does the salary increase also?
    2. What is the woking-hours distribution among US native?
    3. What is the most seen salary within married people?
    4. Avarage marriage rate in terms of nationality?

* if you answer these questions you will be nominated to code-master badge.

In [52]:
df.groupby("salary")["age"].mean()

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

In [53]:
df["marital-status"].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [58]:
married = df[(df["marital-status"] == "Married-spouse-absent") | (df["marital-status"] == "Married-AF-spouse") | (df["marital-status"] == "Married-civ-spouse")]
married

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [60]:
married.groupby("native-country")["marital-status"].count()

native-country
?                               305
Cambodia                         12
Canada                           66
China                            56
Columbia                         24
Cuba                             52
Dominican-Republic               31
Ecuador                          16
El-Salvador                      42
England                          39
France                           13
Germany                          65
Greece                           21
Guatemala                        22
Haiti                            20
Honduras                          4
Hong                             13
Hungary                           6
India                            73
Iran                             25
Ireland                           9
Italy                            51
Jamaica                          31
Japan                            32
Laos                             12
Mexico                          349
Nicaragua                        14
Outlying-US(Guam-USVI-etc)        3
Peru                             11
Philippines                     114
Poland                           37
Portugal                         21
Puerto-Rico                      51
Scotland                          6
South                            41
Taiwan                           29
Thailand                          8
Trinadad&Tobago                   9
United-States                 13644
Vietnam                          28
Yugoslavia                       12
Name: marital-status, dtype: int64